<!-- views/partials/navbar.ejs -->
<nav style="background-color: #0d1117" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a style="color: #9198a1" class="navbar-brand" href="/blogs">bloggify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <% if (locals.user) { %>
                    <li class="nav-item">
                        <a style="color: #9198a1" class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #9198a1" class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #9198a1" class="nav-link" href="/blogs">Read blogs</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a style="color: #9198a1" class="nav-link" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #9198a1" class="nav-link" href="/login">Login</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>